:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --title-tex-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --accent-color-white: rgba(255, 255, 255, 1);
  --background-color: rgba(47, 48, 58, 1);
  --hover-focus-color: rgba(33, 150, 243, 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  color: var(--primary-text-color);
  background-color: var(--accent-color-white);

  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  box-sizing: border-box;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* HEADER */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: rgba(255, 255, 255, 1);
  padding: 24px 0px;

  border: 1px solid #ececec;

  position: relative;
}

.cont-nav {
  display: flex;
  align-items: center;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
}

/* LOGO */

.logo {
  display: flex;
  lign-items: center;
  justify-content: center;

  font-family: raleway;
  color: rgba(33, 150, 243, 1);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.studio {
  color: rgba(0, 0, 0, 1);
}

/* SITE NAV */

.site-nav {
  display: flex;
  lign-items: center;
  justify-content: center;
  margin-left: 93px;
  column-gap: 50px;
}

.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-focus-color);
}

.site-nav .link-portfolio.current {
  color: var(--accent-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-portfolio::after {
  display: block;
  content: '';

  position: absolute;

  background-color: rgba(33, 150, 243, 1);
  width: 78px;
  height: 4px;

  border-radius: 2px;

  bottom: 0;
}

.site-adress {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.site-adress .adress {
  color: var(--title-tex-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.adress:hover,
.adress:focus {
  color: var(--accent-color);
}

.adress:hover .adres_icon,
.adress:focus .adres_icon {
  fill: rgba(33, 150, 243, 1);
}

.adres_icon {
  fill: var(--title-tex-color);
  margin-right: 10px;
}

/* MAIN */
.title {
  display: none;
}

.main {
  background-color: var(--accent-color-white);
}

/* КНОПКИ */

.button-nav .button-oll {
  font-family: roboto, sans-serif;
  color: var(--accent-color-white);
  background-color: rgba(33, 150, 243, 1);
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  border: none;

  display: inline-block;
  padding: 6px 22px;
}

.button-nav .button {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: rgba(245, 244, 250, 1);
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: none;

  display: inline-block;
  padding: 6px 22px;
}

.button-nav .button:hover,
.button-nav .button:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
}

.button-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 8px;

  margin-bottom: 50px;

  width: calc(100% - 32px) / 5;
}

/* СПИСОК ПРОЕКТІВ */

.text-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  padding-bottom: 94px;
}

.text .text-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.text .text-list {
  color: var(--title-tex-color);

  font-size: 16px;
  line-height: 1.88;
}

.tex-footer {
  background-color: var(--accent-color-white);
  width: 370px;
  height: 404px;

  transition: 250ms;
}

.tex-footer:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: 250ms;
}

.tex-footer:hover .tex-overlya {
  transform: translateY(0%);
}

.container-tex-footer {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.tex-footer-one {
  position: relative;

  overflow: hidden;
}
.tex-overlya {
  position: absolute;
  top: 0;
  left: 0%;

  padding: 63px 24px;

  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 28px;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms linear;
}

.focus:focus .tex-overlya {
  transform: translateY(0%);
}

/* FOOTER */

address {
  font-style: normal;
}

.footer {
  background-color: var(--background-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.container-logo {
  margin-bottom: 20px;
}

.footer-logo {
  display: flex;

  font-family: raleway;
  color: rgba(33, 150, 243, 1);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
}

.footer-studio {
  color: rgba(255, 255, 255, 1);
}

/* ADRESS FOOTER */

.adress-reg {
  display: flex;
  color: rgba(255, 255, 255, 1);

  font-weight: 400;
  line-height: 1.7;

  padding-bottom: 9px;
}

.adress-email {
  display: flex;
  padding-bottom: 9px;
}

.adress-phone {
  display: flex;
}

.adress-email,
.adress-phone {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  line-height: 1.7;
}

.adress-email:hover,
.adress-phone:hover,
.adress-email:focus,
.adress-phone:focus {
  color: var(--hover-focus-color);
}

.sotial-title_footer {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
}

.title-first {
  display: flex;
  margin-top: 20px;
  column-gap: 10px;
}

.social-list_footer {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-radius: 50%;
}

.social-list_footer:hover,
.social-list_footer:focus {
  background-color: rgba(33, 150, 243, 1);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus {
  background-color: rgba(33, 150, 243, 1);
}

.footer .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
}

.container-social_footer {
  display: flex;
}

.container-first {
  display: block;
  align-items: center;
  margin-left: 70px;
}

.social-link_footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-social_list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  margin-top: 20px;
}

/* BACKDROP-FOOTER */

.backdrop-footer {
  display: block;
  align-items: center;
  justify-content: baseline;
  margin-left: 93px;
}

.backdrop-h {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
}

.bacdrop-place {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.email {
  width: 358px;
  height: 50px;
  resize: none;
  padding: 15px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(47, 48, 58, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.button-submit {
  width: 200px;
  height: 50px;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
  border: none;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  padding-left: 28px;

  letter-spacing: 0.06em;
  background-image: url('../images/checbox/icon-send.svg');
  background-repeat: no-repeat;
  background-position: 80%;
  margin-left: 12px;
}
