.section-comand {
    background-color: rgba(245, 244, 250, 1);
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}

.feature-comand .feature-picture {
    background-color: var(--background-color-white);
}

.feature-comand {
    display: flex;
    justify-content: center;
}

.feature-img {
    margin-bottom: 30px;
}

.feature-picture {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.feature-comand .feature-title {
    @include font($fw: 500, $fs: 16px, $lh: 1.9);
    text-align: center;
    margin-bottom: 10px;
}

.border-cont {
    margin-bottom: 16px;
}

.feature-comand .feature-list {
    color: var(--title-tex-color);
    @include font($fw: 400, $fs: 16px, $lh: 1.9);
    
    text-align: center;
}

.social-list {
    display: flex;
    column-gap: 10px;
    padding: 0px 30px 30px 32px;
}

.social-list_item {
    display: flex;
}

.social-list_item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:hover,
    &:focus {
            background-color: rgba(33, 150, 243, 1);
        }
}



.social-list_icon {
    width: 20px;
    height: 20px;
    fill: rgba(175, 177, 184, 1);
}

.social-list_item-link:hover .social-list_icon,
.social-list_item-link:focus .social-list_icon {
    fill: var(--background-color-white);
}