.address {
    font-style: normal;
}

.footer {
    background-color: var(--background-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.container-logo {
    margin-bottom: 20px;
}

.footer-logo {
    display: flex;
    @include font($fs: 26px, $lh: 1.9);

    font-family: raleway;
    color: var(--color-logo-blue);   
}

.footer-studio {
    color: var(--color-button-white);
}

/* ADRESS FOOTER */

.adress-reg {
    display: flex;
    font-style: normal;
    @include font($fw: 400, $lh: 1.7);

    color: rgba(255, 255, 255, 1);
    padding-bottom: 9px;
}

.adress-email {
    display: flex;
    font-style: normal;
    padding-bottom: 9px;
}

.adress-phone {
    display: flex;
    font-style: normal;
}

.adress-email,
.adress-phone {
    @include font($fw: 400, $lh: 1.7);

    color: rgba(255, 255, 255, 0.6);
}

.adress-email:hover,
.adress-phone:hover,
.adress-email:focus,
.adress-phone:focus {
    color: var(--hover-focus-color);
}

.sotial-title_footer {
    font-family: Roboto, sans-serif;
    @include font();
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: rgba(255, 255, 255, 1);
}

.social-list-footer{
    display: flex;
    margin-top: 20px;
    column-gap: 10px;
}


.social-list-footer__social-list-item {
    @extend %align;

    box-sizing: border-box;
    border-radius: 50%;

    &:hover,
    &:focus {
            background-color: rgba(33, 150, 243, 1);
        }
}

.social-list-footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
            background-color: rgba(33, 150, 243, 1);
        }
}

.footer .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
}

.container-social_footer {
    display: flex;
}

.container-first {
    display: block;
    align-items: center;
    margin-left: 70px;
}

.social-link_footer {
    @extend %align;
}

.container-social_list {
    @extend %align;
    column-gap: 10px;

    margin-top: 20px;
}