.page-header {
    background-color: var(--background-color-white);
    padding: 24px 0px;
    border: 1px solid #ececec;
    position: relative;
}

.cont-nav {
    display: flex;
    align-items: center;
}

.page-header .wrapper {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
}

/* LOGO */

.page-header__logo {
    @extend %align;
    @include font($fs: 26px, $lh: 1.2);
    
    font-family: raleway, cursive;
    color: var(--color-logo-blue);
}

.studio {
    color: var(--color-logo-black);
}

/* SITE NAV */

.site-nav {
    @extend %align;
    margin-left: 93px;
    column-gap: 50px;
}

.site-nav__link-studio.current {
    display: block;
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--accent-color);   
}

.site-nav__link-studio::after {
    display: block;
    content: '';

    position: absolute;

    background-color: rgba(33, 150, 243, 1);
    width: 48px;
    height: 4px;

    border-radius: 2px;

    bottom: 0;
}

.site-nav__link {
    display: block;
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);

    &:hover,
    &:focus {
            color: var(--hover-focus-color);
        }
}

/* site-adress */

.site-adress {
    display: flex;
    align-items: center;
}

.site-adress .adress {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-tex-color);    
}

.conteiner-site-adress {
    display: flex;
    column-gap: 50px;
}

.adress:hover,
.adress:focus {
    color: var(--hover-focus-color);
}

.adress:hover .adres_icon,
.adress:focus .adres_icon {
    fill: rgba(33, 150, 243, 1);
}

.adres_icon {
    fill: var(--title-tex-color);
    margin-right: 10px;
}