.header {
    background-color: rgba(255, 255, 255, 1);
    padding: 24px 0px;
    border: 1px solid #ececec;
    position: relative;
}

.cont-nav {
    display: flex;
    align-items: center;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
}

/* LOGO */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: raleway;
    color: rgba(33, 150, 243, 1);

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.studio {
    color: rgba(0, 0, 0, 1);
}

/* SITE NAV */

.site-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 93px;
    column-gap: 50px;
}

.site-nav .link {
    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
            color: var(--hover-focus-color);
        }
}

.site-nav .link-portfolio.current {
    color: var(--accent-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link-portfolio::after {
    display: block;
    content: '';

    position: absolute;

    background-color: rgba(33, 150, 243, 1);
    width: 78px;
    height: 4px;

    border-radius: 2px;

    bottom: 0;
}

.site-adress {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.site-adress .adress {
    color: var(--title-tex-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.adress:hover,
.adress:focus {
    color: var(--accent-color);
}

.adress:hover .adres_icon,
.adress:focus .adres_icon {
    fill: rgba(33, 150, 243, 1);
}

.adres_icon {
    fill: var(--title-tex-color);
    margin-right: 10px;
}